#front-intro {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url(../../img/chicago-dreary-bean-1.png) no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20% 0;
  color: #fff;
  display: none; }

.intro-body {
  text-align: center;
  vertical-align: middle; }
  .intro-body h1 {
    font-size: 80px; }
  .intro-body p {
    font-size: 22px; }

@media (max-width: 735px) {
  .intro-body h1 {
    font-size: 50px; }
  .intro-body p {
    font-size: 18px; } }
.separate-line {
  background: #fff;
  padding: 2px;
  width: 180px; }

.btn-enter {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -ms-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s; }
  .btn-enter a {
    color: #fff;
    text-decoration: none; }

.btn-enter:hover {
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -ms-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s; }

/*====== about.html ======*/
.about-bg {
  background: url(../../img/about-bg.jpg) no-repeat fixed;
  background-size: 100% 100%; }

.navbar {
  min-height: 90px;
  margin-bottom: 0 !important;
  background: #fff; }

.navbar-brand {
  height: auto;
  margin: 0; }

.navbar-toggle .icon-bar {
  background: #000; }

.navbar-brand img {
  max-height: 90px; }

.navbar-nav {
  margin: 0;
  padding: 0; }

.navbar-nav li {
  padding-top: 35px;
  padding-bottom: 30px;
  cursor: pointer; }

.navbar-nav > li > a {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  border-right: 1px solid #ccc;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif; }

.navbar-nav > li > a span {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 14px;
  display: block;
  font-weight: normal;
  font-family: arial;
  text-transform: none; }

.navbar-nav > li.active > a {
  color: red !important; }

@media (max-width: 1000px) {
  .navbar-nav > li > a {
    padding: 16px;
    font-size: 14px; } }
/*======= Caption ======*/
.caption {
  vertical-align: middle;
  height: 260px;
  padding: 80px 0 0 50px; }
  .caption h1 {
    color: darkred;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 36px;
    text-shadow: 2px 2px 5px white; }

@media (max-width: 1000px) {
  .caption {
    height: 240px; } }
@media (max-width: 600px) {
  .caption {
    height: 200px; } }
/* ======== about-us-content ========= */
.about-us-content {
  height: auto;
  background: #D9D8D6;
  padding: 50px 0; }

.img-display {
  width: 100%;
  height: 100%; }

/* ========= footer ============ */
footer {
  padding: 50px 0;
  background: #000;
  height: auto;
  color: #fff; }
  footer h4 {
    color: #fff; }
  footer p {
    color: #fff; }
  footer ul li {
    list-style: none;
    margin-left: -40px; }

.slider-container .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 10px 5px #000;
  -moz-box-shadow: 0 0 10px 5px #000;
  -o-box-shadow: 0 0 10px 5px #000;
  -webkit-box-shadow: 0 0 10px 5px #000; }
.slider-container .rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }
.slider-container .rslides li:first-child {
  position: relative;
  display: block;
  float: left; }
.slider-container .rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0; }

.company-img {
  background: #D9D8D6;
  height: auto;
  padding: 50px 0; }

/* =========== */
.jobs-list ul {
  list-style-type: none; }
